<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Mail</title>
</head>
<body style="background-color:powderblue;">
 
   <p><h3> Hello {{cus_name}},</h3></p>
  <h5>PLEASE FIND YOUR ORDER DETAILS</h5>
  <p>UserEmail: {{email}}</p>
   <p>CUSTOMER_NAME: {{cus_name}}</p>
  <p>PRODUCT_NAME: {{product_name}}</p>
   <p>PRICE: {{price}}</p>
    <p>CATEGORY_NAME: {{category_name}}</p>
    <p>ORDERED_ON: {{purchased}}</p>


</body>
</html>